html.light {
    /* 自定义深色背景颜色 */
    --el-bg-A: CornflowerBlue;
    --el-bg-Q: Gray;
    --el-bg-inputarea: white;
    --el-color-li: #d9ecff;
    --el-color-link: blue;
  }

html.dark {
    /* 自定义深色背景颜色 */
    --el-bg-A: #337ecc;
    --el-bg-Q: #303133;
    --el-bg-inputarea: #303133;
    --el-color-li: #d9ecff;
    --el-color-link: #c6e2ff;
  }

a{
    color: var(--el-color-link);
}

.QAs {
    margin: 15px;
}

.Q {
    text-align: left;
    vertical-align: middle;
    background-color: var(--el-bg-Q);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 1px; */
    /* padding-bottom: 1px; */
    margin-top: 20px;
    font-size: 20px !important;
    border-radius: 10px;
}

.A {
    text-align: left;
    vertical-align: middle;
    background-color: var(--el-bg-A);
    color: white;
    margin-top: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    border-radius: 10px;
}

.QA {
    text-align: right;
}

.mTagList {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    max-height: 150px;
    overflow-y: auto;
}


#textArea {
    border-radius: 10px 10px 0 0;
    /* border:2px solid white; */
    background-color: unset;
}


.toolbar {
    padding: 0px 0px;
}

.el-textarea__inner {
    box-shadow: unset;
    padding: 10px;
}

.toolbar-inner {
    width: 100%;
    display: flex;
    border-radius: 0 0 10px 10px;
    padding: 5px;
}

.inputAreaContainer {
    border-radius: 10px;
    box-shadow: 0px 0px 3px #888888;
    background-color: var(--el-bg-inputarea)
}

.inputAreaContainer:hover {
    border: 1px solid var(--el-color-primary);
    border-radius: 10px;
}

.InputFocus {
    border: 1px solid var(--el-color-primary);
}

.el-textarea__inner {
    box-shadow: unset;
    transition: height 0.2s ease-in-out;
}

.el-textarea__inner:hover {
    box-shadow: unset;
}

.el-textarea__inner:focus {
    box-shadow: unset;
}

.el-button.is-text:not(.is-disabled).is-has-bg {
    background-color: unset;
}

.footer {
    display: flex;
    justify-content: center;
}


#TagPopContainer{
    position: fixed;
    bottom: 20px;
    width: 90%;
}

pre {
    padding: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.preQ {
    font-size: large !important;
}

#drag-handle {
    -webkit-app-region: drag;
    cursor: pointer;
}

.mx-1 {
    margin-bottom: 5px;
    margin-right: 5px;
}

/* 1. 声明过渡效果 */
.fade-move,
.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. 声明进入和离开的状态 */
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translate(10px, 0);
}

/* 3. 确保离开的项目被移除出了布局流
      以便正确地计算移动时的动画效果。 */
.fade-leave-active {
    position: absolute;
}

.right-align {
    text-align: right;
    margin: auto;
}


.slide-move,
.slide-enter-active,
.slide-leave-active {
    /* transition: all 0.1s cubic-bezier(0.55, 0, 0.1, 1); */
    transition: all 0.5s
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    transform: translateY(0px);
}

.slide-leave-active {
    position: absolute;
}

/* 假设你想要上下平移的元素在向上滑动时在底部对齐 */
.bottom-align {
    position: absolute;
    bottom: 0;
}

.popList {
    background-color: var(--el-bg-inputarea);
    max-height: 150px;
    border-radius: 10px;
    max-width: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px #888888;
    margin: 5px;
    padding: 10px;
    padding-right: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    width: 310px;
}


.tag-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.popList li.selected {
    background-color: var(--el-color-li);
    border-radius: 10px;
}



.etag {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.tag_name {
    flex: 1;
}

.tag_abbr {
    flex: 1;
    text-align: right;
}



.select-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.v-enter-active,
.v-leave-active {
    transition: transform 0.2s ease;
}

.v-enter-from,
.v-leave-to {
    transform: translateY(50%);
}

#pop_scrollbar>div.el-scrollbar__wrap.el-scrollbar__wrap--hidden-default>div {
    width: 85%
}