.QAs {
    margin: 15px;
}

.Q {
    text-align: left;
    vertical-align: middle;
    background-color: gray;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 1px; */
    /* padding-bottom: 1px; */
    margin-top: 20px;
    font-size: 20px !important;
}

.A {
    text-align: left;
    vertical-align: middle;
    background-color: CornflowerBlue;
    color: white;
    margin-top: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}

.QA {
    text-align: right;
}
.mTagList {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    max-height: 150px;
    overflow-y: auto;
}
.toolbar {
    padding: 5px;
}

.el-button.is-text:not(.is-disabled).is-has-bg {
    background-color: unset;
}


.magicInput {
    flex-grow: 0;
    height: 50px;
}

pre {
    padding: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.preQ {
    font-size: large !important;
}

/* #textArea { */
    /* border-radius: 1%; */
    /* border:1px solid gray; */
/* } */

#drag-handle {
    -webkit-app-region: drag;
}

.mx-1 {
    margin-bottom: 5px;
    margin-right: 5px;
}

/* 1. 声明过渡效果 */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. 声明进入和离开的状态 */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. 确保离开的项目被移除出了布局流
      以便正确地计算移动时的动画效果。 */
.fade-leave-active {
  position: absolute;
}

.right-align {
    text-align: right;
  }


.slide-move,
.slide-enter-active,
.slide-leave-active {
transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-enter-from,
.slide-leave-to {
opacity: 0;
transform: translateY(50px);
}

.slide-leave-active {
position: absolute;
}

/* 假设你想要上下平移的元素在向上滑动时在底部对齐 */
.bottom-align {
position: absolute;
bottom: 0;
}