.QAs {
    margin: 15px;
}

.Q {
    text-align: left;
    vertical-align: middle;
    background-color: gray;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 1px; */
    /* padding-bottom: 1px; */
    margin-top: 20px;
    font-size: 20px !important;
}

.A {
    text-align: left;
    vertical-align: middle;
    background-color: CornflowerBlue;
    color: white;
    margin-top: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}

.QA {
    text-align: right;
}
.mTagList {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    max-height: 150px;
    overflow-y: auto;
}


#textArea { 
    border-radius: 10px 10px 0 0;
    /* border:2px solid white; */
} 


.toolbar {
    padding: 0px 0px;
}

.el-textarea__inner{
    box-shadow:unset;
    padding: 10px;
}
.toolbar-inner {
    width: 100%;
    background-color: white;
    display: flex;
    border-radius:0 0 10px 10px;
    padding: 5px; 
}

.inputAreaContainer{
    border: 1px solid var(--el-border-color-darker);
    border-radius: 10px;
}
.inputAreaContainer:hover{
    border: 2px solid var(--el-color-primary);
    border-radius: 10px;
}

.InputFocus{
    border: 2px solid var(--el-color-primary);
}

.el-textarea__inner{
    box-shadow:unset;
    transition: height 0.2s ease-in-out;
}
.el-textarea__inner:hover{
    box-shadow:unset;
}
.el-textarea__inner:focus{
    box-shadow:unset;
}

.el-button.is-text:not(.is-disabled).is-has-bg {
    background-color: unset;
}

.footer {
    display: flex;
    justify-content: center;
}

/* .magicInput {
    flex-grow: 0;
    height: 50px;
    
} */
#magicInput {
    position: fixed;
    bottom: 20px;
    width: 90%;
  }

pre {
    padding: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.preQ {
    font-size: large !important;
}



#drag-handle {
    -webkit-app-region: drag;
}

.mx-1 {
    margin-bottom: 5px;
    margin-right: 5px;
}

/* 1. 声明过渡效果 */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. 声明进入和离开的状态 */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. 确保离开的项目被移除出了布局流
      以便正确地计算移动时的动画效果。 */
.fade-leave-active {
  position: absolute;
}

.right-align {
    text-align: right;
    margin: auto;
  }


.slide-move,
.slide-enter-active,
.slide-leave-active {
transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-enter-from,
.slide-leave-to {
opacity: 0;
transform: translateY(50px);
}

.slide-leave-active {
position: absolute;
}

/* 假设你想要上下平移的元素在向上滑动时在底部对齐 */
.bottom-align {
position: absolute;
bottom: 0;
}